bootstrap_state_bucket = "REPLACE_WITH_YOUR_TERRAFORM_STATE_BUCKET"
bootstrap_state_key = "astronomy-shop/bootstrap/prod/terraform.tfstate"
bootstrap_state_region = "ap-south-1"
alert_email = "platform-alerts@example.com"
create_application_ingress = false
application_hostname = "shop.example.com"
alb_certificate_arn = ""
alb_waf_acl_arn = ""
create_cert_manager_cluster_issuer = false
cert_manager_email = ""
enable_karpenter = true
enable_ingress = false
enable_argo_rollouts = true
enable_kubernetes_security = true
enable_workload_foundation = true
enable_external_secrets = true
enable_gitops = false
enable_observability = true
enable_metrics_server = true
enable_alertmanager = true
enable_loki = true
enable_opentelemetry_collector = true
enable_tempo = true
enable_observability_persistence = true
enable_cloudwatch = true
enable_velero = true
enable_finops = true
enable_kubecost = true
enable_kyverno = true
enable_falco = true
enable_signed_image_policy = false
create_gitops_root_application = true
cloudwatch_log_retention_days = 90
