aws_region = "ap-south-1"
dr_region = "ap-southeast-1"
azs = ["ap-south-1a", "ap-south-1b", "ap-south-1c"]
enable_nat_gateway = true
single_nat_gateway = true
enable_flow_logs = true
flow_logs_retention_days = 30
interface_endpoint_services = []
enable_guardduty = false
enable_security_hub = false
enable_rds = true
enable_redis = true
rds_multi_az = false
rds_backup_retention_period = 7
rds_max_allocated_storage = 100
rds_performance_insights_enabled = true
rds_deletion_protection = false
redis_num_cache_nodes = 1
redis_snapshot_retention_limit = 3
enable_cloudtrail = true
enable_config = true
enable_dr_replica_bucket = false
enable_backup = true
backup_daily_retention_days = 35
backup_weekly_retention_days = 90
enable_edge = true
enable_route53 = true
enable_edge_public_dns_cutover = true
manage_edge_certificates = true
create_certificate_validation_records = true
domain_name = "staging.astronomy-shop.store"
certificate_subject_alternative_names = ["origin.staging.astronomy-shop.store"]
route53_zone_id = "Z0636003325CNPCQO1REW"
route53_zone_name = "astronomy-shop.store"
route53_record_name = "staging"
alb_dns_name = "k8s-staging-astronom-e5a5de3e14-2092221545.ap-south-1.elb.amazonaws.com"
alb_hosted_zone_id = "ZP97RAFLXTNZK"
edge_origin_domain_name = "origin.staging.astronomy-shop.store"
edge_manage_origin_dns = false
cloudfront_certificate_arn = "arn:aws:acm:us-east-1:241766333730:certificate/c3604cac-f2ae-4dc3-97e0-6357989e60b9"
alert_email = "platform-alerts@example.com"
eks_endpoint_public_access_cidrs = ["0.0.0.0/0"] # Personal learning environment: allow access despite changing home ISP IPs.
eks_admin_role_arns = []
enable_ebs_csi_driver = true
enable_cloudwatch_observability = true
enable_inspector = false
