aws_region = "ap-south-1"
dr_region = "ap-southeast-1"
azs = ["ap-south-1a", "ap-south-1b", "ap-south-1c"]
enable_nat_gateway = true
single_nat_gateway = false
enable_flow_logs = true
flow_logs_retention_days = 90
interface_endpoint_services = []
enable_guardduty = true
enable_security_hub = true
enable_rds = true
enable_redis = true
rds_multi_az = true
rds_backup_retention_period = 30
rds_max_allocated_storage = 200
rds_performance_insights_enabled = true
rds_deletion_protection = true
redis_num_cache_nodes = 2
redis_snapshot_retention_limit = 7
enable_cloudtrail = true
enable_config = false
enable_dr_replica_bucket = true
enable_backup = true
backup_daily_retention_days = 35
backup_weekly_retention_days = 365
enable_edge = false
enable_route53 = false
domain_name = ""
alb_dns_name = ""
alert_email = "platform-alerts@example.com"
eks_endpoint_public_access_cidrs = ["198.51.100.10/32"] # Replace with your trusted runner/admin public IP.
eks_admin_role_arns = []
enable_ebs_csi_driver = true
enable_cloudwatch_observability = true
enable_inspector = true
