aws_region = "ap-south-1"
dr_region = "ap-southeast-1"
azs = ["ap-south-1a", "ap-south-1b"]
enable_nat_gateway = true
single_nat_gateway = true
enable_flow_logs = false
flow_logs_retention_days = 7
interface_endpoint_services = []
enable_guardduty = false
enable_security_hub = false
enable_rds = false
enable_redis = false
rds_multi_az = false
rds_backup_retention_period = 1
rds_max_allocated_storage = 50
rds_performance_insights_enabled = false
rds_deletion_protection = false
redis_num_cache_nodes = 1
redis_snapshot_retention_limit = 1
enable_cloudtrail = false
enable_config = false
enable_dr_replica_bucket = false
enable_backup = false
backup_daily_retention_days = 7
backup_weekly_retention_days = 30
enable_edge = false
enable_route53 = false
domain_name = ""
alb_dns_name = ""
alert_email = "platform-alerts@example.com"
eks_endpoint_public_access_cidrs = ["0.0.0.0/0"]
eks_admin_role_arns = []
enable_ebs_csi_driver = true
enable_cloudwatch_observability = false
